<% layout("layouts/boilerplate") %>

<body>
   
<section class="donation-section">
        <div class="donation-card">
            <img src="https://pmnrf.gov.in/assets/uploads/home_banners/pmnrf_en_header2_20190416094006.jpg" alt="PMNRF">
            <h3>PMNRF</h3>
            <p>
                Prime Minister's National Relief Fund, (PMNRF accepts voluntary contributions from individuals,
                organizations, companies, and institutions etc.)
            </p>
            <a href="https://pmnrf.gov.in/en/online-donation"><button class="donation-button">Donate Now</button></a>
        </div>

        <div class="donation-card">
            <img src="https://www.redcross.org/content/dam/redcross/imported-images/redcross-logo.png.img.png" alt="American Red Cross">
            <h3>American Red Cross</h3>
            <p>
                You Can Make a Difference
                Your support of our mission brings help and hope to families in need.
            </p>
            <a href="https://www.redcross.org/donate/donation.html/"><button class="donation-button">Donate Now</button></a>
        </div>

        <div class="donation-card">
            <img src="https://www.unicef.org/india/sites/unicef.org.india/files/styles/standard_banner/public/UNI609026.webp?itok=Mosf4q8a" alt="UNICEF India">
            <h3>UNICEF India</h3>
            <p>For Every Child</p>
            <a href="https://www.unicef.org/india/?campaignID=7011i000000kqRfAAI"><button class="donation-button">Donate Now</button></a>
        </div>

        <div class="donation-card">
            <img src="https://www.lcifindia.org/assets/images/section50//lions-4.2-disaster-thailand-aftermath-boy.jpg" alt="LCIF INDIA">
            <h3>LCIF INDIA</h3>
            <p>
                When disaster strikes in India, Lions are often among the first to offer aid. And LCIF India is right
                there with them.
            </p>
            <a href="https://www.lcifindia.org/disaster-relief.php"><button class="donation-button">Donate Now</button></a>
        </div>

        <div class="donation-card">
            <img src="https://www.compassion.com/Images/disaster-relief-hero-04-2023--l_162247_728x232.jpg" alt="Compassion">
            <h3>Compassion</h3>
            <p>
                Your gift will meet the urgent needs of thousands of Compassion children who are impacted by natural and
                man-made disasters.
            </p>
            <a href="https://www.compassion.com/disaster-relief.htm"><button class="donation-button">Donate Now</button></a>
        </div>

        <div class="donation-card">
            <img src="https://www.habitat.org/sites/default/files/styles/2_1_large/public/2016-10/disaster-response-van-oklahoma_0.jpg?itok=ejSo7KDV" alt="Habitat">
            <h3>Habitat</h3>
            <p>
                Through Habitat’s Disaster Risk Reduction, with the help of volunteers and donors like you, we are able
                to provide shelter assistance, education, training and partnerships.
            </p>
            <a href="https://www.habitat.org/our-work/disaster-response"><button class="donation-button">Donate Now</button></a>
        </div>

        <div class="donation-card">
            <img src="https://global.rakuten.com/corp/donation/disaster_en/images/disaster_en.jpeg" alt="Rakuten">
            <h3>Rakuten</h3>
            <p>
                Rakuten Clutch Special Charity Fund

                Disaster preparedness fund
            </p>
            <a href="https://global.rakuten.com/corp/donation/disaster_en/disaster_en.html"><button class="donation-button">Donate Now</button></a>
        </div>
    </section>

    <br /><br />
</body>
