<footer>
  <div class="f_info">
    <div class="f_infosocial">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-square-whatsapp"></i>
    </div>

    <div class="f_infocompany">&copy; GOV-IND</div>

    <div class="f_infolinks">
      <a href="privacy"> Privacy</a>
      <a href="terms">terms</a>
    </div>
  </div>
</footer>
